@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: linen;
    overflow-x: hidden;
}

.boxed {
    width: 1200px;
    margin: 50px auto;
}

.ffp_title {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 55px;
    color: #eabf94;
    position: relative;
}

.ffp_title span {
    animation: fade_up .7s ease forwards;
    display: inline-block;
}

.ffp_title::before, .ffp_title::after {
    content: '';
    background-color: #eabf94;
    position: absolute;
    width: 300px;
    height: 4px;
    border-radius: 2px;
    top: 50%;
    margin-top: -2px;
}

.ffp_title::before {
    left: 0;
    transform-origin: left;
    animation: grow_left .7s ease forwards;
}

.ffp_title::after {
    right: 0;
    transform-origin: right;
    animation: grow_right .7s ease forwards;
}

@keyframes grow_left {
    0% {
        transform: scaleX(0);
    }
}

@keyframes grow_right {
    0% {
        transform: scaleX(0);
    }
}

@keyframes fade_up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.grid_wrapper {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.fruit_single {
    height: 250px;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 1px 12px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 12px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 12px -5px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fruit_single .fruit_structure {
    height: 150px;
    width: 250px;
    position: relative;
}

.fruit_single h3 {
    text-align: center;
    color: #999;
    font-size: 28px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;
    margin-top: 30px;
}

/* WATERMELON */

.wm_green_circle {
    position: relative;
    width: 200px;
    height: 100%;
    background-color: green;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1;
    transform: rotate(-20deg);
    overflow: hidden;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

.wm_red_circle::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 20px;
    background-color: rgba(255,255,255,.15);
    width: 40%;
    height: 100%;
    transform: skewX(-30deg);
}

.wm_white_circle {
    position: absolute;
    width: 180px;
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wm_red_circle {
    position: absolute;
    width: 170px;
    height: calc(100% - 10px);
    background-color: rgb(201, 25, 25);
    border-radius: 50%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wm_red_circle span {
    position: absolute;
    background-color: #111;
    width: 8px;
    height: 5px;
    border-radius: 50%;
}

.wm_red_circle span:nth-child(1) {
    bottom: 45px;
    left: 20px;
    transform: rotate(14deg);
}

.wm_red_circle span:nth-child(2) {
    bottom: 15px;
    left: 46px;
    transform: rotate(-24deg);
}

.wm_red_circle span:nth-child(3) {
    bottom: 22px;
    right: 52px;
    transform: rotate(-45deg);
}

.wm_red_circle span:nth-child(4) {
    bottom: 45px;
    left: 76px;
    transform: rotate(36deg);
}

.wm_red_circle span:nth-child(5) {
    bottom: 45px;
    right: 46px;
    transform: rotate(44deg);
}

.wm_red_circle span:nth-child(6) {
    bottom: 36px;
    left: 53px;
    transform: rotate(-14deg);
}

.wm_red_circle span:nth-child(7) {
    bottom: 13px;
    left: 75px;
    transform: rotate(-24deg);
}

.wm_red_circle span:nth-child(8) {
    bottom: 42px;
    right: 19px;
    transform: rotate(75deg);
}

.wm_shadow {
    width: 200px;
    height: 10px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    filter: blur(2px);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
    opacity: .15;
}

/* --------------------------------------------- */

/* ORANGE */

.or_orange_circle_back {
    width: 120px;
    height: 120px;
    background-color: #F18C01;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 47%;
    transform: rotate(8deg);
}

.shadow_of_the_leaf {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.1);
	width: 45%;
	height: 70%;
	border-radius: 100%;
    transform: rotate(20deg);
}

.or_orange_circle_back::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: rgba(255,255,255,.15);
    width: 30%;
    height: 20%;
    border-radius: 50%;
    transform: rotate(28deg);
}

.or_orange_circle_back span, .or_orange_front span {
    position: absolute;
    background-color: #E27B01;
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

.or_orange_front span {
    background-color:#F18C01;
}

.or_orange_circle_back span:nth-child(1) {
    top: 45px;
    left: 23px;
}

.or_orange_circle_back span:nth-child(2) {
    top: 67px;
    left: 92px;
}

.or_orange_circle_back span:nth-child(3) {
    top: 45px;
    left: 23px;
}

.or_orange_circle_back span:nth-child(4) {
    top: 77px;
    left: 35px;
}

.or_orange_circle_back span:nth-child(5) {
    top: 84px;
    left: 94px;
}

.or_orange_circle_back span:nth-child(6) {
    top: 23px;
    left: 56px;
}

.or_orange_circle_back span:nth-child(7) {
    top: 50px;
    left: 31px;
}

.or_orange_circle_back span:nth-child(8) {
    top: 67px;
    left: 78px;
}

.or_orange_circle_back span:nth-child(9) {
    top: 32px;
    left: 95px;
}

.or_orange_circle_back span:nth-child(10) {
    top: 45px;
    left: 85px;
}

.or_orange_circle_back span:nth-child(11) {
    top: 57px;
    left: 73px;
}

.or_orange_circle_back span:nth-child(12) {
    top: 88px;
    left: 80px;
}

.or_orange_circle_back span:nth-child(13) {
    top: 65px;
    left: 53px;
}

.or_orange_circle_back span:nth-child(14) {
    top: 40px;
    left: 50px;
}

.or_orange_circle_back span:nth-child(15) {
    top: 95px;
    left: 47px;
}

.or_orange_circle_back span:nth-child(16) {
    top: 25px;
    left: 30px;
}

.petiole {
    position: absolute;
    top: -12px;
    right: 50px;
    background-color: #808B29;
    height: 23px;
    width: 10px;
    transform: rotate(8deg);
    z-index: 2;
}

.petiole::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 10px;
    height: 4px;
    border-radius: 50%;
    background-color: #a7b637;
}

.petiole_base {
    position: absolute;
    top: 9px;
    right: 49px;
    width: 17px;
    height: 6px;
    margin-left: -8.5px;
    z-index: -1;
    border-radius: 50%;
    background-color: #5e6818;
    transform: rotate(8deg);
}

.leaf {
    width: 50px;
    height: 90px;
    border-radius: 70% 0 70% 0;
    background-color: #336C00;
    z-index: 3;
    position: absolute;
    top: -15px;
    left: -1px;
    overflow: hidden;
    transform: rotate(22deg);
    -webkit-box-shadow: inset 15px 0px 0px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 15px 0px 0px -4px rgba(0,0,0,0.1);
    box-shadow: inset 15px 0px 0px -4px rgba(0,0,0,0.1);
}

.or_orange_front {
    width: 120px;
    height: 60px;
    background-color: #fc9d19;
    position: absolute;
    bottom: -7px;
    right: 15px;
    z-index: 1;
    border-radius: 0 0 55px 55px;
    transform: rotate(-10deg);
}

.or_sliced {
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 20px;
    background-color: #fabd67;
    border-radius: 100%;
}

.or_orange_front span:nth-child(1) {
    bottom: 15px;
    left: 35px;
}

.or_orange_front span:nth-child(2) {
    bottom: 20px;
    left: 60px;
}

.or_orange_front span:nth-child(3) {
    bottom: 34px;
    left: 89px;
}

.or_orange_front span:nth-child(4) {
    bottom: 29px;
    left: 10px;
}

.or_orange_front span:nth-child(5) {
    bottom: 27px;
    left: 45px;
}

.or_orange_front span:nth-child(6) {
    bottom: 17px;
    left: 85px;
}

.or_orange_front span:nth-child(7) {
    bottom: 32px;
    left: 23px;
}

.or_orange_front span:nth-child(8) {
    bottom: 40px;
    left: 70px;
}

.or_orange_front span:nth-child(9) {
    bottom: 25px;
    right: 35px;
}

.or_sliced_inside {
    position: absolute;
    left: 7px;
    top: 3.5px;
    bottom: 7px;
    right: 7px;
    height: 12px;
    background-color: #e27d019a;
    border-radius: 100%;
    overflow: hidden;
}

.or_sliced_inside .line {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 1.5px;
    background-color: #fabd67;
}

.or_sliced_inside .line1 {
    transform: rotate(15deg);
}

.or_sliced_inside .line2 {
    transform: rotate(75deg);
    height: 3px;
}

.or_sliced_inside .line3 {
    transform: rotate(-10deg);
}

/*inizio ciliege*/
.cherry_fruit{
    width: 90px;
    height: 90px;
    background-color: rgb(201, 25, 69);
    border-radius: 45px;
    position: relative;
    float: left;
    margin-top: 90px;
    -webkit-box-shadow: 0px 50px 50px -30px rgba(0,0,0,0.65); 
box-shadow: 0px 50px 50px -30px rgba(0,0,0,0.65);
    
}
.cherry_fruit:first-child{
    margin-right: 20px;
    -webkit-box-shadow: 0px 50px 50px -30px rgba(0,0,0,0.65); 
box-shadow: 0px 50px 50px -30px rgba(0,0,0,0.65);
}
.cherry_fruit:nth-child(2){
    margin-top: 80px;
    -webkit-box-shadow: 0px 50px 50px -24px rgba(0,0,0,0.82); 
box-shadow: 0px 50px 50px -24px rgba(0,0,0,0.82);
}
.riflesso{
    
    widows: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.534);
    clip-path: polygon(51% 12%, 59% 15%, 64% 22%, 66% 29%, 68% 35%, 62% 35%, 56% 35%, 50% 34%, 48% 25%, 46% 19%, 45% 13%);
    margin-left: 15px;
    margin-top: 5px;
}
.base_picciolo{
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.253);
    position: absolute;
    left: 20px;
    top: 5px;
    clip-path: ellipse(50% 11% at 50% 50%);
    transform: rotate(-40deg);
}
.picciolo{
    height: 90px;
    width: 150px;
    border-radius: 100%;
    border: 8px solid rgb(33, 175, 87);
    clip-path: polygon(20% 50%, 100% 50%, 100% 100%, 0 100%);
    position: absolute;
    
    transform: rotate(148deg) ;
    margin-left:13px;
    margin-top: 10px;
}
.punta_picciolo{
    
    background-color: rgb(21, 105, 53);
    height: 8px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top: -98%;
    left: 35px;
}
.due{
    margin-left: 103px;
    margin-top: 20px;
    z-index: 1;
}
.secondo{
    margin-left: 200%;
    margin-top: 20px;
    z-index: 2;
}